In [26]:
import pandas as pd
import datetime

In [27]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x)for x in range(0,20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2022-10-21 10:46:07.957703
1  2022-10-20 10:46:07.957703
2  2022-10-19 10:46:07.957703
3  2022-10-18 10:46:07.957703
4  2022-10-17 10:46:07.957703
5  2022-10-16 10:46:07.957703
6  2022-10-15 10:46:07.957703
7  2022-10-14 10:46:07.957703
8  2022-10-13 10:46:07.957703
9  2022-10-12 10:46:07.957703
10 2022-10-11 10:46:07.957703
11 2022-10-10 10:46:07.957703
12 2022-10-09 10:46:07.957703
13 2022-10-08 10:46:07.957703
14 2022-10-07 10:46:07.957703
15 2022-10-06 10:46:07.957703
16 2022-10-05 10:46:07.957703
17 2022-10-04 10:46:07.957703
18 2022-10-03 10:46:07.957703
19 2022-10-02 10:46:07.957703

In [28]:
# Extract week day names

df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2022-10-21 10:46:07.957703      Friday
1 2022-10-20 10:46:07.957703    Thursday
2 2022-10-19 10:46:07.957703   Wednesday
3 2022-10-18 10:46:07.957703     Tuesday
4 2022-10-17 10:46:07.957703      Monday

In [30]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
              'Tuesday':2,
              'Wednesday':3,
              'Thursday':4,
              'Friday':5,
              'Saturday':6,
              'Sunday':7
}
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2022-10-21 10:46:07.957703      Friday            5
1  2022-10-20 10:46:07.957703    Thursday            4
2  2022-10-19 10:46:07.957703   Wednesday            3
3  2022-10-18 10:46:07.957703     Tuesday            2
4  2022-10-17 10:46:07.957703      Monday            1
5  2022-10-16 10:46:07.957703      Sunday            7
6  2022-10-15 10:46:07.957703    Saturday            6
7  2022-10-14 10:46:07.957703      Friday            5
8  2022-10-13 10:46:07.957703    Thursday            4
9  2022-10-12 10:46:07.957703   Wednesday            3
10 2022-10-11 10:46:07.957703     Tuesday            2
11 2022-10-10 10:46:07.957703      Monday            1
12 2022-10-09 10:46:07.957703      Sunday            7
13 2022-10-08 10:46:07.957703    Saturday            6
14 2022-10-07 10:46:07.957703      Friday            5
15 2022-10-06 10:46:07.957703    Thursday            4
16 2022-10-05 10:46:07.957703   Wednesday            3
17 2022-10-04 10:46:07.957703     Tuesday            2
18 2022-10-03 10:46:07.957703      Monday            1
19 2022-10-02 10:46:07.957703      Sunday            7